main {
  display: flex;
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1f242d;
  .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 80px;
    margin-bottom: 30px;
    max-width: 1400px;
    width: 100%;
    height: unset;
    background: #1f242d;
    .actor {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      min-height: 454px;
      img {
        border-radius: 2%;
        max-width: 300px;
        max-height: 454px;
        background: #3c485a;
      }
      .actor-description {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;
        max-width: 1080px;
        width: 100%;
        margin-top: 10px;
        margin-left: 60px;
        span {
          color: #fff;
          font-family: Roboto, sans-serif;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
        .actor-description-social {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: flex-start;
          gap: 15px;
          color: #fff;
          font-family: Roboto, sans-serif;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          a {
            color: #fff;
            text-decoration: underline;
          }
          a:hover {
            transition: color 0.3s ease;
            color: #0073fa;
          }
        }
      }
    }
    .biography {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      max-width: 1400px;
      width: 100%;
      gap: 10px;
      max-width: unset;
      min-height: 200px;
      height: unset;
      margin-top: 20px;

      h2 {
        display: flex;
        justify-content: space-around;
        color: #fff;
        font-family: Fira, sans-serif;
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
      p {
        padding: 5px;
        border: 2px solid #fff;
        border-radius: 5px;
        max-width: unset;
        min-height: 200px;
        color: #fff;
        font-family: Fira, sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
    .filmography {
      display: flex;
      flex-direction: column;
      margin-bottom: 50px;
      margin-top: 20px;
      max-width: 1400px;
      width: 100%;
      min-height: 538px;
      height: unset;
      gap: 20px;
      h2 {
        color: #fff;
        font-family: Fira, sans-serif;
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
      .filmography-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;

        .cart-cinema {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          max-width: 453px;
          width: 100%;
          height: unset;
          border-radius: 3%;
          gap: 20px;
          box-shadow: 0 0 20px rgba(0, 0, 2, 0.4117647059);
          cursor: default;
          img {
            width: 185px;
            height: auto;
            border-radius: 5px;
          }
          .descript-similar-content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            margin-top: 10px;
            gap: 15px;
            box-shadow: none;
            span {
              color: #fff;
              font-family: Fira, sans-serif;
              font-size: 15px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
            a {
              box-shadow: none;
              span {
                cursor: pointer;
                text-decoration: underline;
              }
              span:hover {
                color: #e6e95d;
              }
            }
          }
        }

        button {
          border: none;
          max-width: 453px;
          width: 100%;
          height: 280px;
          
          border-radius: 3%;
          background: #1f242d;
          box-shadow: 0 0 20px #0000029a;

          color: #fff;
          font-family: Fira, sans-serif;
          font-size: 20px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;

          cursor: pointer;
        }
        .filmography-list-more {
          display: flex;
          position: fixed;
          flex-direction: column;
          top: 80px;
          width: 1400px;
          height: 800px;
          border-radius: 1%;
          background: #1f242d;
          box-shadow: 0 0 20px #0000027a;

          .filmography-title {
            display: flex;
            position: relative;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            height: 80px;
            border-radius: 10px 10px 0px 0px !important;
            background: #1f242d;
            box-shadow: 0 0 20px #0000023a;
            h2 {
              display: flex;
              padding-left: 20px;
              color: #fff;
              font-family: Roboto, sans-serif;
              font-size: 40px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
              background: none;
            }
            button {
              rotate: 45deg;
              width: 50px;
              height: 50px;
              font-size: 50px;
              border: none;
              box-shadow: none;
              background: none;
            }
          }

          .filmography-list-more-movie {
            display: flex;
            justify-content: center;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 25px;
            width: 100%;
            height: unset;
            padding-top: 30px;
            box-shadow: none;
            overflow: auto;
            overflow-x: hidden;
            .cart-movie {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              justify-content: flex-start;
              position: relative;
              width: 300px;
              min-height: 543px;
              height: unset;
              margin-bottom: 30px;
              border-radius: 2%;
              background: #1f242d;
              box-shadow: 0 0 20px #00000269;
              .rank {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: -15px;
                left: -15px;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background: #1f242d;
                color: #2ec235;
                box-shadow: 0 0 10px #00000286;

                font-family: Fira, sans-serif;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
              }
              img {
                border-radius: 2%;
                width: 100%;
              }
              .description {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                width: 96%;
                height: 96%;
                gap: 5px;
                box-shadow: none;
                padding-left: 10px;
                padding-top: 8px;
                span {
                  color: #fff;
                  font-family: Fira, sans-serif;
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: normal;
                }
                a {
                  text-decoration: underline;
                  color: #fff;
                  span:hover {
                    color: #e6e95d;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

::-webkit-scrollbar {
  width: 8px; /* Ширина ползунка */
}

::-webkit-scrollbar-track {
  background: #004da5; /* Цвет фона трека */
}

::-webkit-scrollbar-thumb {
  background: #0073fa; /* Цвет ползунка */
  border-radius: 6px; /* Скругление углов ползунка */
}

::-webkit-scrollbar-thumb:hover {
  background: #0050ac; /* Цвет ползунка при наведении */
}
@media (min-width: 320px) and (max-width: 1200px) {
  main .content {
    margin-top: 100px;
  }
  main .content .actor {
    flex-direction: column;
    align-items: center;
  }
  main .content .actor .actor-description {
    margin-left: 10px;
  }
  main .content .filmography h2 {
    display: flex;
    justify-content: center;
  }
  main .content .filmography .filmography-list {
    padding-left: 10px;
    // padding-right: 10px;
  }
  main .content .filmography .filmography-list .cart-cinema {
    flex-direction: column;
    margin-right: 10px;
    align-items: center;
    img {
      margin-top: 10px;
      width: 95%;
    }
  }
  main
    .content
    .filmography
    .filmography-list
    .cart-cinema
    .descript-similar-content {
    width: 100%;
    padding-left: 10px;
  }
  main .content .filmography .filmography-list button {
    width: 97%;
    height: 35px;
  }
}
