.results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding-left: 20px;
  margin-top: 10px;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
  max-height: 800px;
  overflow: auto;
  overflow-x: hidden;
  border: 2px solid #9ca8b1;

  .films-list {
    width: 155px;
    min-height: 340px;
    height: unset;
    padding: 22px;
    border-radius: 5%;
    background: #1f242d;
    box-shadow: 0 0 27px #0000029a;
    .rate {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      margin-top: -35px;
      margin-left: -35px;
      background: #1f242d;
      border-radius: 50%;
      color: #2ec235;
      box-shadow: 0 0 10px #0000029a;

      font-family: Roboto, sans-serif;
      font-size: 21px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    .films-list-image {
      img {
        border-radius: 5%;
        width: 100%;
        min-width: 111px;
        min-height: 166px;
        background: #292c35;
      }
    }
    .films-list-descript {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      border-top: 1px solid #fff;
      margin-top: 10px;
      overflow: hidden;
      min-height: 100px;
      height: unset;
      font-size: 16px;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      .title {
        color: #ffffff;
        font-family: Roboto, sans-serif;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      p {
        color: #ecea73;
        font-family: Roboto, sans-serif;
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      .release-date {
        color: #9ca8b1;
        font-family: Roboto, sans-serif;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      a {
        color: #fff;
        text-decoration: underline;
        font-size: 14px;
      }
      a:hover {
        color: #0073fa;
        transition: color 0.3s ease;
      }
    }
  }
}
.results-data {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 10px;

  color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.page-numbers {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 1400px;
  height: 60px;
  right: 10px;
  gap: 50px;
  border-radius: 3px;
  box-shadow: 0 0 27px #0000029a;
  margin-bottom: 20px;
  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 0px;
    gap: 30px;
    list-style: none;
    font-size: 13px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    .selected {
      padding: 4px;
      border-radius: 12px;
      border: 1px solid #9ca8b1;
      color: #9ca8b1;
    }
    .previous:hover {
      color: #9ca8b1;
    }
    li {
      cursor: pointer;
    }
    li:hover {
      color: #9ca8b1;
    }
  }
  button {
    width: 80px;
    height: 20px;
    cursor: pointer;
  }
}
@media (min-width: 320px) and (max-width: 1400px) {
  .results {
    justify-content: flex-start;
  }
  .results .page-numbers {
    min-width: 310px;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    ul {
      gap: 10px;
    }
  }
}
