.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #1f242d;
  .films-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: unset;
    max-width: 1200px;
    width: 100%;
    margin-top: 80px;
    min-height: 750px;
    margin-bottom: 20px;
    .films-page-content {
      display: flex;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 20px;
      margin-bottom: 20px;
      gap: 35px;
      .films-list {
        background: #1f242d;
        width: 155px;
        min-height: 340px;
        max-height: unset;
        padding: 22px;
        border-radius: 3%;
        box-shadow: 0 0 27px #0000029a;
        cursor: default;
        .rate {
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          width: 50px;
          height: 50px;
          margin-top: -35px;
          margin-left: -35px;
          background: #1f242d;
          border-radius: 50%;
          color: #2ec235;
          box-shadow: 0 0 10px #0000029a;

          font-family: Roboto, sans-serif;
          font-size: 21px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }

        .films-list-image {
          img {
            border-radius: 5%;
            width: 100%;
            cursor: pointer;
          }
        }
        .films-list-descript {
          display: flex;
          flex-direction: column;
          margin-top: 10px;
          overflow: hidden;
          min-height: 100px;
          height: unset;
          font-size: 16px;
          gap: 13px;
          -webkit-line-clamp: 5;
          -webkit-box-orient: vertical;
          cursor: default;
          p {
            color: #ecea73;
            font-family: Roboto, sans-serif;
            font-size: 11px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
          .title {
            color: #fff;
            font-family: Roboto, sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
          a {
            text-decoration: underline;
            color: #fff;
            font-family: Roboto, sans-serif;
            font-size: 14px !important;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            cursor: pointer;
          }
          .release-data {
            color: #9ca8b1;
            font-size: 13px;
            font-family: Roboto, sans-serif;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            cursor: default;
          }
        }
      }
    }
  }
  .page-numbers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1400px;
    height: 60px;
    gap: 50px;
    border-radius: 3px;
    box-shadow: 0 0 27px #0000029a;
    margin-bottom: 20px;
    ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-left: 0px;
      gap: 30px;
      list-style: none;
      font-size: 13px;
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      .selected {
        padding: 4px;
        border-radius: 12px;
        border: 1px solid #9ca8b1;
        color: #9ca8b1;
      }
      .previous:hover {
        color: #9ca8b1;
      }
      li {
        cursor: pointer;
      }
      li:hover {
        color: #9ca8b1;
      }
    }
    button {
      width: 80px;
      height: 20px;
      cursor: pointer;
    }
  }
  .loading {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    width: 150px;
    height: unset;
    img {
      width: 50px;
      height: 50px;
    }
    span {
      color: #fff;
      font-family: Roboto, sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}
@media (min-width: 320px) and (max-width: 1400px) {
  .main-content {
    min-width: 320px;
    width: 100%;
    .films-page {
      min-width: 320px;
      width: 100%;
    }
  }
  .main-content .page-numbers {
    min-width: 310px;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    ul {
      gap: 10px;
    }
  }
}

