main {
  display: flex;
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1f242d;
  .content-general {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 15px;
    max-width: 1400px;
    width: 100%;
    background: #1f242d;
    .content-detail-description {
      h1 {
        color: #fff;
        font-family: Cantarell, sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 10px;
      }
      h2 {
        color: #89939e;
        font-family: Cantarell, sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 10px;
      }
    }
    .content-description {
      display: flex;
      flex-direction: column;
      height: unset;
      h2 {
        color: #fff;
        font-family: Cantarell, sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-top: 20px;
      }
      p {
        margin-top: 20px;
        width: 1400px;
        height: 150px;
        margin-bottom: 25px;
        color: #89939e;
        font-family: Ubuntu, sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
    .content-video-material h2 {
      color: #fff;
      font-family: Cantarell, sans-serif;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    .content-video-material-box {
      display: flex;
      flex-direction: row;
      overflow-x: auto;
      ::-webkit-scrollbar {
        width: 8px; /* Ширина ползунка */
      }
      ::-webkit-scrollbar-track {
        background: #0075fa5e; /* Цвет фона трека */
      }
      ::-webkit-scrollbar-thumb {
        background: #0073fa; /* Цвет ползунка */
        border-radius: 6px; /* Скругление углов ползунка */
      }
      ::-webkit-scrollbar-thumb:hover {
        background: #1c86ff; /* Цвет ползунка при наведении */
      }
      .none-response {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 336px;
        margin-top: 10px;
        margin-left: 10px;
        border-radius: 3%;
        background: #1f242d;
        box-shadow: 0 0 27px #0000029a;

        color: #89939e;
        font-family: Cantarell, sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 10px;
      }
    }
    .content-video-material-section {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 30px;
      justify-content: space-between;
      width: 1400px;
      height: 335px;
      .content-video-material-section-trailer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 300px;
        height: unset;
        border: none;
        border-radius: 3%;
        margin-left: 10px;
        margin-bottom: 15px;
        padding: 15px;
        gap: 15px;
        cursor: pointer;
        background: #1f242d;
        box-shadow: 0 0 27px #0000029a;
        iframe {
          border-radius: 3%;
          width: 100%;
          height: 100%;
        }
        h4 {
          color: #929292;
          font-size: 14px;
        }
        h2 {
          font-size: 20px;
        }
      }
      .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0%;
        background-color: #00000060;
        transition: background-color 2s ease;
        .trailer {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          position: relative;
          margin-top: 80px;
          margin-left: auto;
          margin-right: auto;
          width: 1400px;
          height: 800px;
          border-radius: 1%;
          background: #272c36;
          cursor: default;
          .trailer-head {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-between;
            width: 98%;
            height: 60px;
            span {
              color: #ffffff;
              font-family: Cantarell, sans-serif;
              font-size: 24px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
              margin-bottom: 10px;
            }
            button {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 20px;
              height: 20px;
              font-size: 30px;
              rotate: 45deg;
              font-weight: 600;
              color: #fff;
              background: none;
              box-shadow: none;
            }
            button:hover {
              transition: color 0.3s ease;
              color: #0073fa;
            }
          }
          .trailer-content {
            width: 98%;
            height: 98%;
            border-radius: 1%;
            background: none;
            margin-bottom: 8px;
            iframe {
              border-radius: 1%;
              width: 1372px;
              height: 735px;
            }
          }
        }
      }
      button {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 300px;
        height: unset;
        border: none;
        border-radius: 3%;
        margin-left: 10px;
        margin-bottom: 15px;
        padding: 15px;
        gap: 15px;
        cursor: pointer;
        background: #1f242d;
        box-shadow: 0 0 27px #0000029a;

        div {
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 3%;
          width: 100%;
          height: 50%;
          background: #272c36;
        }
      }
      button:nth-of-type(2) {
        display: none;
      }
      button:nth-of-type(3) {
        display: none;
      }
      button:nth-of-type(4) {
        display: none;
      }
    }
    .content-detail {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .content-detail-description {
        display: flex;
        flex-direction: column;
        width: 1050px;
        height: auto;
        ul {
          margin-top: 5px;
          display: flex;
          flex-direction: column;
          gap: 10px;
          padding-left: 0px;

          color: #89939e;
          font-family: Cantarell, sans-serif;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          li {
            list-style-type: none;
            border-bottom: 1px solid #1f242d;
            a {
              text-decoration: underline;
              color: #fff;
              span {
                color: #fff;
              }
            }
            span:nth-of-type(2) {
              color: #fff;
            }
          }
        }
      }
    }
    .content-detail-photo {
      display: flex;
      flex-direction: column;
      max-width: 300px;
      width: 100%;
      height: 516px;
      gap: 20px;
      background: none;

      .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #00000060;
        transition: background-color 2s ease;
        .enter-box {
          display: flex;
          flex-direction: column;
          position: absolute;
          width: 350px !important;
          height: 520px;
          left: 50%;
          border-radius: 3%;
          margin-top: 400px;
          transform: translate(-50%, -50%);
          background: #1f242d;
          .enter-box-nav {
            padding-top: 15px;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-between;
            span {
              padding-left: 24px;
              color: #ffffff;
              font-family: Roboto, sans-serif;
              font-size: 30px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
              background: #1f242d;
            }
            button {
              display: flex;
              justify-content: center;
              align-items: center;
              border: none;
              box-shadow: none;
              position: absolute;
              width: 40px;
              height: 40px;
              right: 10px;
              top: 10px;
              transform: rotate(45deg);
              font-size: 50px;
              color: #ffffff;
              background: #1f242d;
            }
            button:hover {
              transition: color 0.3s ease;
              color: #0073fa;
              cursor: pointer;
            }
          }
          .enter-box-social {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-left: auto;
            margin-right: auto;
            margin-top: auto;
            margin-bottom: auto;
            width: 300px;
            height: 400px;
            gap: 20px;

            button {
              width: 100%;
              padding: 30px 10px;
              border: none;
              color: #ffffff;
              font-family: Ubuntu, sans-serif;
              font-size: 24px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
            button:hover {
              color: #ffffff;
              font-size: 25px;
              transition: font-size 0.75 ease;
            }
            button:nth-of-type(1) {
              background: #d92929;
              border-radius: 10px 10px 0px 0px;
            }
            button:nth-of-type(2) {
              background: #ffcc00;
            }
            button:nth-of-type(3) {
              background: #0077ff;
            }
            button:nth-of-type(4) {
              background: #444;
            }
          }
        }
      }

      .content-detail-photo-cinema {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 300px;
        height: 453px;
        img {
          width: 100%;
          border-radius: 3%;
        }
      }
      .add-list {
        width: 300px;
        height: 43px;
        background: #282f43 !important;
        border: none;
        border-radius: 10px;
        cursor: pointer;

        color: #ffffff;
        font-family: Ubuntu, sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
    .content-actors {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      width: 1400px;
      height: 539px;
      h2 {
        margin-bottom: 20px;
        color: #fff;
        font-family: Cantarell, sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
      .content-actors-carts {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        height: 539px;
        gap: 10px;
        a {
          display: flex;
          flex-direction: row;
          position: relative;
          width: 454px;
          text-decoration: none;
          box-shadow: 0 0 15px #12151a;
          border-radius: 2%;
          cursor: pointer;
          .actor-description {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin-left: 10px;
            margin-top: 10px;
            gap: 10px;
            span {
              color: #fff;
              font-family: Fira, sans-serif;
              font-size: 24px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
            span:nth-of-type(2) {
              color: #999999;
              font-size: 18px;
            }
            span:nth-of-type(3) {
              text-decoration: underline;
              font-size: 15px;
            }
          }
          img {
            margin-top: 5px;
            margin-bottom: 5px;
            width: unset;
            height: 250px;
            border-radius: 5px;
            padding-left: 10px;
          }
        }
        .full-list {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 454px;
          text-decoration: none;
          box-shadow: 0 0 15px #12151a;
          border-radius: 2%;
          cursor: pointer;

          color: #fff;
          font-family: Ubuntu, sans-serif;
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
        .overlay {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #00000060;
          transition: background-color 2s ease;
          .actors-box {
            display: flex;
            flex-direction: column;
            margin-left: auto;
            margin-right: auto;
            margin-top: 80px;
            width: 1400px;
            height: 750px;
            border-radius: 1%;
            background: #242933;
            .actors-box-title {
              display: flex;
              justify-content: space-between;
              align-items: center;
              span {
                display: flex;
                padding-left: 20px;
                color: #fff;
                font-family: Cantarell, sans-serif;
                font-size: 24px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
              }
              button {
                width: 50px;
                height: 50px;
                rotate: 45deg;
                font-size: 40px;
                background: none;
                border: none;
                box-shadow: none;
                color: #fff;
                transform: scale(1);
              }
              button:hover {
                transform: scale(1.3);
                transition: transform 0.3 ease;
                transition: color 0.3s ease;
                color: #0073fa;
                cursor: pointer;
              }
            }
            .actors-more-count {
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              justify-content: center;
              padding-top: 10px;
              padding-bottom: 10px;
              gap: 10px;
              overflow: auto;
              overflow-x: hidden;
              a {
                width: 335px;
                .actor-description span:nth-of-type(1) {
                  font-size: 20px;
                }
              }
            }
          }
        }
      }
    }
    .content-similar {
      display: flex;
      flex-direction: column;
      margin-top: 50px;
      gap: 20px;
      margin-bottom: 50px;
      h2 {
        color: #fff;
        font-family: Cantarell, sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
      .content-similar-carts {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        width: 1400px;
        height: 539px;
        a {
          display: flex;
          flex-direction: row;
          text-decoration: none;
          box-shadow: 0 0 15px #12151a;
          border-radius: 2%;
          width: 454px;
          height: 270px;
          gap: 10px;
          img {
            margin-top: 5px;
            margin-bottom: 5px;
            width: unset;
            height: 250px;
            border-radius: 5px;
            padding-left: 10px;
          }
          .cinema-description {
            display: flex;
            flex-direction: column;
            span {
              margin-top: 10px;
              color: #fff;
              font-family: Fira, sans-serif;
              font-size: 18px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
            span:nth-of-type(3) {
              color: #828832;
              font-size: 18px;
            }
            span:nth-of-type(2) {
              color: #a5a5a5;
              font-size: 15px;
            }
            span:nth-of-type(4) span {
              color: #3d8636;
            }
          }
        }

        .similar-films {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 454px;
          height: 270px;
          border-radius: 2%;
          background: #1f242d;
          box-shadow: 0 0 20px #12151a;
          border: none;
          cursor: pointer;
          span {
            color: #fff;
            font-family: Ubuntu, sans-serif;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }
        .overlay {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 0%;
          background-color: #00000060;
          transition: background-color 2s ease;
          .similar-box {
            display: flex;
            flex-direction: column;
            margin-left: auto;
            margin-right: auto;
            margin-top: 80px;
            width: 1400px;
            height: 750px;
            border-radius: 1%;
            background: #1f242d;
            .similar-box-title {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;
              padding: 5px 15px;
              h2 {
                color: #fff;
                font-family: Cantarell, sans-serif;
                font-size: 24px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
              }
              button {
                color: #fff;
                font-size: 35px;
                background: none;
                border: none;
                rotate: 45deg;
                transform: scale(1);
              }
              button:hover {
                transform: scale(1.3);
                transition: transform 0.3 ease;
                transition: color 0.3s ease;
                color: #0073fa;
                cursor: pointer;
              }
            }
            .similar-box-movies {
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              padding-top: 10px;
              padding-left: 5px;
              padding-bottom: 10px;
              gap: 10px;
              overflow: auto;
              overflow-x: hidden;
            }
          }
        }

        ::-webkit-scrollbar {
          width: 8px; /* Ширина ползунка */
        }

        ::-webkit-scrollbar-track {
          background: #0075fa5e; /* Цвет фона трека */
        }

        ::-webkit-scrollbar-thumb {
          background: #0073fa; /* Цвет ползунка */
          border-radius: 6px; /* Скругление углов ползунка */
        }

        ::-webkit-scrollbar-thumb:hover {
          background: #1c86ff; /* Цвет ползунка при наведении */
        }
      }
    }
  }
}
