a {
  text-decoration: none;
}

section {
  background: #1f242d;
  width: 100%;
  display: flex;
  justify-content: center;

  .home {
    display: flex;
    flex-direction: column;
    background: #1f242d;
    max-width: 1400px;
    width: 100%;
    height: unset;
    h2 {
      display: flex;
      justify-content: center;
      margin-top: 20px;

      color: #fff;
      font-family: Roboto, sans-serif;
      // font-size: 21px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    .search {
      display: flex;
      position: relative;
      align-items: center;
      justify-content: flex-end;
      gap: 5px;

      .blinking-cursor {
        color: #fff;
      }
      input {
        padding-left: 55px;
        padding-right: 10px;
        border-radius: 50px 0px 0px 50px;
        border: 1px solid #b1b1b1;
        max-width: 1395px;
        width: 100%;
        height: 45px;
        font-family: Fira, sans-serif;
        font-size: 22px;
        background: none;
      }
      img {
        left: 20px;
        width: 28px;
        height: auto;
        display: flex;
        position: absolute;
      }
      // .custom_container {
      //   position: relative;
      //   padding-right: 10px;
      // }
      .custom__control {
        position: relative;
        max-width: 200px;
        width: 100%;
        min-height: 45px;
        height: 45px;
        background: none;
        border-radius: 0px 50px 50px 0px;

        font-family: Roboto, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      .custom__value-container {
        // top: 5px;
        // padding: 8px;
        font-size: 10px;
        height: 45px;
      }
      .custom__input {
        margin: 0px;
        height: 45px;
      }
      .custom__indicators {
        height: 40px;
      }
    }
    button {
      width: 80px;
      height: 20px;
    }
    .loading {
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;
      width: 150px;
      height: unset;
      img {
        width: 50px;
        height: 50px;
      }
      span {
        color: #fff;
        font-family: Roboto, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
    .description {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      margin-top: 80px;
      max-width: 1395px;
      width: 100%;
      gap: 20px;
      color: #fff;
      font-family: Roboto, sans-serif;
      font-size: 21px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      h3 {
        margin-top: 20px;
        margin-bottom: 20px;
      }
      ul {
        display: flex;
        position: relative;
        flex-direction: column;
        gap: 20px;
        list-style: disc;
        padding-left: 20px;

        li a {
          color: #fff;
          font-family: Roboto, sans-serif;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
        li a:hover {
          color: #0073fa;
        }
      }
      p {
        color: #fff;
        font-family: Roboto, sans-serif;
        font-size: 21px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
    .popular {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      margin-top: 30px;
      margin-bottom: 40px;
      color: #fff;
      font-family: Roboto, sans-serif;
      font-size: 21px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      .loading {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        position: relative;
        height: unset;
        img {
          width: 50px;
          height: 50px;
        }
        span {
          color: #fff;
          font-family: Roboto, sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }

      .popular-cinema {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 40px;
        max-width: 1396px;
        width: 100%;
        min-height: 360px;
        gap: 40px;

        a {
          display: flex;
          color: #fff;
          .films-list-more {
            display: flex;
            justify-content: center;
            align-items: center;
            background: #1f242d;
            width: 155px;
            height: 100%;
            padding: 22px;
            border-radius: 5%;
            box-shadow: 0 0 27px #0000029a;
            cursor: pointer;
          }
        }

        .films-list-more:hover {
          color: #0073fa;
          transition: color 0.3s ease;
        }
        .films-list {
          background: #1f242d;
          width: 155px;
          min-height: 340px;
          height: unset;
          padding: 22px;
          border-radius: 5%;
          box-shadow: 0 0 27px #0000029a;
          .rate {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            width: 50px;
            height: 50px;
            margin-top: -35px;
            margin-left: -35px;
            background: #1f242d;
            border-radius: 50%;
            color: #2ec235;
            box-shadow: 0 0 10px #0000029a;
          }
          .films-list-image {
            img {
              border-radius: 5%;
              width: 100%;
            }
          }
          .films-list-descript {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            margin-top: 10px;
            overflow: hidden;
            min-height: 100px;
            height: unset;
            font-size: 16px;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
            p {
              color: #ecea73;
              font-family: Roboto, sans-serif;
              font-size: 11px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
            .release-date {
              color: #9ca8b1;
              font-size: 13px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
            a {
              text-decoration: underline;
              font-size: 14px;
            }
            a:hover {
              color: #0073fa;
              transition: color 0.3s ease;
            }
          }
        }
      }
    }
  }
}
@media (min-width: 320px) and (max-width: 1440px) {
  section .home {
    padding-left: 10px;
    padding-right: 10px;
  }
  section .home .description * {
    padding-left: 5px;
    padding-right: 5px;
  }
  section .home .popular {
    padding-left: 5px;
    align-items: center;
  }
  section .home .popular .popular-cinema .films-list {
    width: 300px;
  }
  section .home .popular .popular-cinema a .films-list-more {
    width: 300px;
    height: 40px;
  }
}
