// #root {
//   max-width: 1280px;
//   margin: 0 auto;
//   padding: 2rem;
//   text-align: center;
//   overflow: auto;

// }
::-webkit-scrollbar {
  width: 8px; /* Ширина ползунка */
}

::-webkit-scrollbar-track {
  background: #004da5; /* Цвет фона трека */
}

::-webkit-scrollbar-thumb {
  background: #0073fa; /* Цвет ползунка */
  border-radius: 6px; /* Скругление углов ползунка */
}

::-webkit-scrollbar-thumb:hover {
  background: #0050ac; /* Цвет ползунка при наведении */
}
