@font-face {
  src: url(../../fonts/Satoshi-Light.woff);
  font-family: Satoshi, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@font-face {
  src: url(../../fonts/ClashDisplay-Light.woff);
  font-family: Clash Display, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@font-face {
  src: url(../../fonts/Cantarell-Regular.ttf);
  font-family: Cantarell, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@font-face {
  src: url(../../fonts/DroidSans.ttf);
  font-family: Droid, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@font-face {
  src: url(../../fonts/FiraSans-Regular.ttf);
  font-family: Fira, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@font-face {
  src: url(../../fonts/Oxygen-Regular.ttf);
  font-family: Oxygen, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@font-face {
  src: url(../../fonts/Roboto-Regular.ttf);
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@font-face {
  src: url(../../fonts/Ubuntu-Regular.ttf);
  font-family: Ubuntu, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@font-face {
  src: url(../../fonts/HelveticaNeueCyr-Thin.woff);
  font-family: HelveticaNeueCyr, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}